.header {
    display: flex;
    height: 70px;
}

.input-login {
    width: 330px;
    background-color: solid whitesmoke;
    border-collapse: collapse;
    border-style: inset !important;
    display: inline;
}

.form-inline {
    width: 450px;
}

#contenido {
    display: inline-block;
    max-width: 100%;
    height: 90%;
    margin: 1% 0% 5% 5%;
    width: 90%;
    padding: 50px 0% 0% 0%;
}

.footer {
    color: gainsboro;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-top: rgba(107, 155, 207, 0.658) dashed 2px;
    height: 5%;
    margin-bottom: 0%;
    padding: 10px;
    text-align: center;
    align-content: center;
}

.mensaje {
    color: white;
    display: flex;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    height: 100px;
}

#msg {
    display: none;
}